name: Build Documentation

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout repo
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5


    - name: Install .NET Core
      uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4
      with:
        dotnet-version: |
          6.x
          8.x
    - name: Get docfx
      run: |
        dotnet tool update -g docfx
    - name: Build docs
      run:  |
        docfx Documentation/docfx.json

    - name: Deploy docfx documentation
      uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: Documentation/_site
